
  <body class="bg-body-secondary">




      <!-- detail  -->
      <section class="bg-light mt-4" *ngIf="detail">
        <div class="container ">
          <div class="row m-0" >
            <h3 >  {{detail.title}}</h3>
          </div>
          <div class="row" >
            <div class="col-md-8 my-3">
              <div class="card rounded-3 border-danger">
                <h5 class="card-header bg-danger text-white">Điểm Nhấn Hành Trình</h5>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      Khám phá nơi huyền thoại KungFu bắt đầu tại <strong>Chùa Thiếu Lâm Tự.</strong>
                    </li>
                    <li>
                      Khoác trên mình cổ phục trang, dạo bước tại <strong>Thành Cổ LuoYi</strong> 
                    </li>
                    <li>
                     <strong> Chùa Thiếu Lâm Tự với bảo tàng Kinh Các </strong>– nơi lưu giữ các kho sách võ công bí truyền, khí công, xem màn biểu diễn Kungfu Thiếu Lâm Tự NỔI TIẾNG trên màn ảnh.
                    </li>
                    <li>
                     <strong>Phủ Khai Phong </strong> - được xem là toà án của nhà Tống với vị quan thanh liêm là Bao Công – Nơi rất quen thuộc với du khách Việt Nam qua bộ phim BAO THANH THIÊN.
                    </li>
                    <li>
                     <strong>Đội Quân Đất Nung - Binh Mã Dũng</strong>  với gần 8.000 pho tượng quân lính bằng đất sét chôn ở các khu gần lăng mộ Tần Thủy Hoàng
                    </li>
                    <li>
                     <strong> Tử Vi Thành Võ Tắc Thiên:</strong> nằm trong quần thể hoàng cung Lạc Dương cực thịnh thời nhà Đường
                    </li>
                    <li>
                     <strong> Hang Đá Long Môn </strong> - Nằm trong khu vực tự nhiên TUYỆT ĐẸP với hàng nghìn tượng Phật được chạm khắc vào vách đá dài một km dọc theo 2 bờ sông.
                    </li>
                  </ul>
                 
                </div>
              </div>
              <div class="row my-3 m-0">
                <h4><i class="bi bi-car-front-fill text-primary"></i> Lịch Trình Tour</h4>
                <hr>
              </div>
              <div class="row border m-0">
                <div class="accordion p-3" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseone" aria-expanded="true" aria-controls="collapseone">
                        <span class="fw-bold">Ngày 1 </span> | TP.HCM – TRỊNH CHÂU
                      </button>
                    </h2>
                    <div id="collapseone" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="p-2 ">
                       <p>23h30: Trưởng đoàn Intertour đón Quý khách tại sân bay quốc tế Tân Sơn Nhất, hỗ trợ đoàn làm thủ tục đáp chuyến bay đến Trịnh Châu, khởi hành vào lúc 02h quá cảnh ở Thâm Quyến.
                       </p>
                       <img src="https://intertour.vn/wp-content/uploads/2023/12/shenzhen-zh.jpg" class="img-fluid " alt="">
                       <p>
                         Chuyến bay dự kiến : <br>
                         <strong> 
                        ZH8018 SGN-SZX 02:20-06:30 <br>
                        ZH9319 SZX-CGO 09:35-11:50 <br>
                        Quý khách nghỉ đêm trên máy bay. </strong>
                       </p>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
              <div class="row border my-3 m-0">
                <div class="accordion p-3" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="fw-bold">Ngày 2 </span> | TRỊNH CHÂU – KHAI PHONG (Ăn sáng trên máy bay, trưa, tối)
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="p-2 ">
                       <p>11h50: Đến sân bay Côn Minh – Trung Quốc, Đoàn làm thủ tục nhập cảnh, nhận hành lý. 
                        <br>
                        Xe và Hướng dẫn viên (HDV) địa phương đón Quý khách dùng bữa trưa tại nhà hàng địa phương (nếu thời gian cho phép, hoặc sẽ được phục vụ bữa trưa trên máy bay). Sau đó, Đoàn khởi hành đi Khai Phong tham quan:
                       </p>
                       <ul>
                        <li class="text-center">
                          Khai Phong Phủ: được xem như là toà án của nhà Tống với Bao Công là vị quan thanh liêm, 
                          mẫu mực can đảm chống lại các thế lực đen tối nhũng nhiễu dân lành – rất quen thuộc với du khách Việt Nam trong bộ phim BAO THANH THIÊN. Đây là một kiến trúc đồ sộ rộng 60 hecta gồm nhiều khu vực như sân,
                           thành lầu, nơi làm việc, nhà nghỉ, nhà lao… nhưng thật không may là toàn bộ khối kiến trúc này đã bị nước lũ sông Hoàng Hà cuốn trôi. Công trình này đã được phục dựng và Khai Phong Phủ là một trong những công trình đạt giải phục cổ đẹp nhất Trung Hoa.
                          </li>
                          <img src="https://intertour.vn/wp-content/uploads/2023/12/khai-phong-phu.jpg" class="img-fluid" alt="">
                          <li>
                           <strong> Tham quan Phố Sách</strong> : một kho tàng văn hoá ngay tại Khai Phong Phủ
                          </li>
                       </ul>
                       <p>
                        <strong>Tối:</strong> Quý khách tự do khám phá và mua sắm ở <strong>thành phố Khai Phong</strong>  về đêm.

                        Đoàn dùng bữa tối tại nhà hàng địa phương. Sau đó, xe đưa Quý khách về khách sạn nhận phòng nghỉ ngơi.

                      <strong>Nghỉ đêm ở Khai Phong.</strong>  
                       </p>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
              <div class="row border my-3 m-0">
                <div class="accordion p-3" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span class="fw-bold">Ngày 3</span> | TRỊNH CHÂU – TIÊU TÁC (Ăn sáng, trưa, tối)
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="p-2 ">
                       <p>Sáng: Quý khách dùng bữa sáng tại khách sạn và làm thủ tục trả phòng.
                        <br>
                        Xe đưa Đoàn khởi hành đi Tiêu Tác tham quan:
                       </p>
                       <ul>
                        <li class="text-center">
                          Khu vườn quốc gia Vân Đài Sơn: Nằm trong công viên địa chất thế giới 5A, đến đây quý khách tham quan hẻm núi đá đỏ còn gọi là hẻm núi Hồng Thạch Hiệp là tinh hoa 
                          của danh lam thắng cảnh núi Vân Sơn, mùa hè thung lũng mát mẻ dễ chịu, giữa mùa đông có rêu và cỏ xanh
                           mọc nên được gọi là Văn Ban Vũ. Nó kết hợp suối, thác, suối, hồ và suối trong một thung lũng, và tích
                            hợp những vẻ đẹp hùng vĩ, hiểm trở, kỳ lạ và hẻo lánh, được các chuyên gia kiến trúc cảnh quan ca 
                            ngợi là “phòng trưng bày cảnh quan thiên nhiên tuyệt đẹp”. Được mệnh danh là Tiểu Cửu Trại Câu vì 
                            vẻ đẹp mê hồn khi đến đây.
                          </li>
                          <img src="https://intertour.vn/wp-content/uploads/2023/12/khu-vuon-quoc-gia-van-dai-son.jpg" class="img-fluid" alt="">
                       </ul>
                       <p>
                       <strong> Trưa:</strong> Quý khách dùng bữa trưa tại nhà hàng địa phương. <br>

                       <strong>Tối:</strong>  Quý khách dùng bữa tối tại nhà hàng địa phương. Sau đó, xe đưa Đoàn về khách sạn nhận phòng nghỉ ngơi. <br>
                        
                       <strong> Nghỉ đêm tại Tiêu Tác. </strong>
                       </p>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
              <div class="row border my-3 m-0">
                <div class="accordion p-3" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                        <span class="fw-bold">Ngày 4</span> | TIÊU TÁC – ĐĂNG PHONG – LẠC DƯƠNG (Ăn sáng, trưa, tối)
                      </button>
                    </h2>
                    <div id="collapsefour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="p-2 ">
                       <p> <strong>Sáng:</strong> Quý khách dùng bữa sáng tại khách sạn và làm thủ tục trả phòng.

                        Xe đưa Đoàn khởi hành di chuyển đến Đăng Phong tham quan:
                       </p>
                       <ul>
                        <li class="text-center">
                        <strong> Chùa Thiếu Lâm Tự, đến đây quý khách còn có dịp được xem màn biểu diễn Kungfu Thiếu Lâm Tự nổi tiếng trên màn ảnh:</strong> Người Trung Quốc 
                          có thành ngữ “Thiên hạ công phu xuất Thiếu Lâm”, nhằm tôn vinh tầm quan trọng của võ phái Thiếu Lâm 
                          .Thiếu Lâm tự là một ngôi chùa ở Trịnh Châu, thị xã Đăng Phong, tỉnh Hà Nam, Trung Quốc. Nổi tiếng 
                          trên khắp thế giới, chùa Thiếu Lâm được nhiều người biết đến là nơi ở của những vị sư có võ công cao 
                          cường. Hiện nay, chùa mở cửa một phần diện tích cho khách tham quan, với các công trình như Thiên 
                          vương điện, Thiên Phật điện, Tàng Kinh các, Lập Tuyết đình… Nơi nổi tiếng nhất đối với phần lớn du 
                          khách Việt khi đến đây tham quan có lẽ là Tàng Kinh các, nơi từng lưu giữ các bộ kinh sách quý về Phật 
                          pháp.(bao gồm đi xe điện)
                          </li>
                          <img src="https://intertour.vn/wp-content/uploads/2023/12/chua-thieu-lam-tu-voi-bao-tang-kinh-cac.jpg" class="img-fluid" alt="">
                          <p><strong> Trưa: </strong>Quý khách dùng bữa trưa tại nhà hàng địa phương. Tiếp tục tham quan:</p>
                          <li class="text-center">
                           <strong> Tử Vi Thành Võ Tắc Thiên bao gồm Thiên đường và Minh đường:</strong> nằm trong quần thể hoàng cung của Võ Tắc Thiên. Lạc Dương cực kỳ thịnh vượng vào thời nhà Đường, vì vậy khi lên ngôi hoàng đế, 
                            Võ Tắc Thiên đã dời kinh đô từ Trường An về Lạc Dương và đổi tên thành Thần Đô. Quần thể hoàng cung 
                            nơi Võ Tắc Thiên trị vì giang sơn rộng gấp 6 lần Tử Cấm Thành ở Bắc Kinh. Mình Đường là nơi diễn ra 
                            những nghi lễ quan trọng của cung đình. Thiên Đường là một tòa tháp cao 9 tầng là nơi để thờ Đức Phật.
                          </li>
                          <li class="text-center">
                           <strong> Thành Cổ LuoYi:</strong> khoác trên mình trang phục cổ trang, dạo bước trên những con phố lung linh ánh
                             đèn, có thể thưởng thức các món ăn vặt địa phương và mua sắm các mặt hàng lưu niệm tại đây. 
                             Tìm hiểu về “Truyền Thuyết Nữ Thần Sông Luo”.
                          </li>
                          <img src="https://intertour.vn/wp-content/uploads/2023/12/thanh-co-luoyi.jpg" class="img-fluid" alt="">
                          <li class="text-center">
                         <strong>  Cổng thành Ứng Thiên Môn ( ngoại quan): </strong> trong lịch sử là nơi triều đình tổ chức các nghi lễ lớn như lên ngôi, 
                            thay đổi niên hiệu, đại xa, yến tiệc,… cũng là một trong những cổng thành có quy mô cao nhất ở Trung 
                            Quốc thời cổ đại, được mệnh danh là “đệ nhất cổng thời Tùy Đường”, “đệ nhất cổng thiên hạ Đi trên 
                            cổng lầu, ngắm nhìn cố đô nghìn năm có nhiều thay đổi bất ngờ nhưng vẫn còn những vết tích của khí
                             thế hào hùng năm ấy.
                          </li>
                       </ul>
                       <p>
                      <strong>Tối:</strong>   Đoàn dùng bữa tối tại nhà hàng địa phương. Sau đó, xe đưa Quý khách về khách sạn nhận phòng nghỉ ngơi. <strong>Nghỉ đêm tại Lạc Dương.</strong> 
                      </p>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>


              <div class="row m-0 ">
                <h4><i class="bi bi-bag-check-fill text-primary"></i> Chi Tiết Giá Tour</h4>
                <hr>
              </div>
              <div class="row m-0 px-0 ">
                <ul class="nav nav-tabs bg-warning-subtle" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Tháng 1</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Tháng 2</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tháng 3</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <h6 class="text-center">GIÁ TOUR TRỌN GÓI CHO 01 KHÁCH (VNĐ/KHÁCH)</h6>
                    <p class="text-center">Đăng ký trước 30 Ngày thì: <br>

                      Giá Early Bird: (20.990.000) đối với tour (21.990.000) <br>
                      
                      Giá Early Bird (23.990.000) đối với tour (24.990.000)</p>
                    <table class="table table-bordered text-center table-hover px-0">
                      <thead>
                          <tr>
                              <th class="align-middle" rowspan="2">NGÀY KHỞI HÀNH</th>
                              <th class="align-middle" rowspan="2">GIÁ TOUR TRỌN GÓI CHỈ TỪ</th>
                              <th>TRẺ EM (Từ 20 - dưới 10 tuổi)</th>
                              <th>TRẺ EM (dưới 2 tuổi)</th>
                          </tr>
                          <tr>
                              <th colspan="2">Ngủ chung giường người lớn</th>
              
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Khởi hành tối ngày 09/04</td>
                              <td>21.990.000</td>
                              <td>20.990.000</td>
                              <td>8.990.000</td>
                          </tr>
                          <tr>
                              <td class="text-danger">Khởi hành tối 27/04 (LỄ)</td>
                              <td class="text-danger">24.990.000</td>
                              <td>23.990.000</td>
                              <td>10.990.000</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <h6 class="text-center">GIÁ TOUR TRỌN GÓI CHO 01 KHÁCH (VNĐ/KHÁCH)</h6>
                    <p class="text-center">Đăng ký trước 30 Ngày thì Giá Early Bird: 19.990.000.</p>
                    <table class="table table-bordered text-center table-hover">
                      
                          <tr>
                              <th class="align-middle" rowspan="2">NGÀY KHỞI HÀNH</th>
                              <th class="align-middle" rowspan="2">GIÁ TOUR TRỌN GÓI CHỈ TỪ</th>
                              <th>TRẺ EM (Từ 20 - dưới 10 tuổi)</th>
                              <th>TRẺ EM (dưới 2 tuổi)</th>
                          </tr>
                          <tr>
                              <th colspan="2">Ngủ chung giường người lớn</th>
              
                          </tr>
                      
                      <tbody>
                          <tr>
                              <td>Khởi hành tối ngày 14/05 <br>
                                Khởi hành tối ngày 28/05</td>
                              <td class="align-middle">20.990.000</td>
                              <td class="align-middle">19.990.000</td>
                              <td class="align-middle">7.990.000</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <h6 class="text-center">GIÁ TOUR TRỌN GÓI CHO 01 KHÁCH (VNĐ/KHÁCH)</h6>
                    <p class="text-center">Đăng ký trước 30 Ngày thì Giá Early Bird: 19.990.000.</p>
                    <table class="table table-bordered text-center table-hover">
                      
                          <tr>
                              <th class="align-middle" rowspan="2">NGÀY KHỞI HÀNH</th>
                              <th class="align-middle" rowspan="2">GIÁ TOUR TRỌN GÓI CHỈ TỪ</th>
                              <th>TRẺ EM (Từ 20 - dưới 10 tuổi)</th>
                              <th>TRẺ EM (dưới 2 tuổi)</th>
                          </tr>
                          <tr>
                              <th colspan="2">Ngủ chung giường người lớn</th>
              
                          </tr>
                      
                      <tbody>
                          <tr>
                              <td>Khởi hành tối 11/06 <br>
                                Khởi hành tối 25/06</td>
                              <td class="align-middle">20.990.000</td>
                              <td class="align-middle">19.990.000</td>
                              <td class="align-middle">7.990.000</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3 " >
              <div class="accordion " id="accordionExample" >
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{detail.title}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <ul class="list-group">
                      <li class="list-group-item"> <strong>Mã tour</strong>  <span class="mx-5">{{detail.id}}</span> </li>
                      <li class="list-group-item"> <strong>Thời gian</strong>  <span class="mx-5">{{detail.duration}}</span> </li>
                      <li class="list-group-item"> <strong>Khởi hành:</strong>  <span class="mx-5">{{detail.months}}</span> </li>
                      <li class="list-group-item"> <strong>Khách sạn:</strong>  <span class="mx-5">4*</span> </li>
                      <li class="list-group-item"> <strong>Vận chuyển</strong>  <span class="mx-5">{{detail.transport}}</span> </li>
                      <li class="list-group-item"> <strong>Xuất phát:</strong>  <span class="mx-5">TP.HCM</span> </li>
                    </ul>  
                  </div>
                </div>
              </div>
              <div class="position-sticky" style="top:100px">
                <div class="row bg-danger m-0 my-3 " >
                  <h5 class="p-1 m-2 text-white">Giá 1 khách chỉ từ: {{detail.price | number}}đ</h5>
                </div>
                <div class="row border rounded-3 border-danger m-0 ">
                  <h6 class="text-center mt-2">THÔNG TIN ĐẶT TOUR</h6>
                  <div class="">
                    <input type="text" class="form-control my-3" placeholder="Họ và tên">
                    <input type="text" class="form-control my-3" placeholder="Số điện thoại (bắt buộc)">
                    <input type="text" class="form-control my-3" placeholder="Email">
                    <input type="hidden" value="1" #quantity>
                    <button  (click)="addCart(quantity.value)" [routerLink]="['/giohang']" class="btn btn-primary float-end mb-3">Gửi thông tin đặt tour</button>
                  </div>

                </div>
                <div class="row  my-3 mx-auto ">
                  <ul class="list-group ">
                    <a href="" class="list-group-item text-primary fw-bold"><i class="bi bi-radioactive text-primary"></i> Điểm nhấn lịch trình</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-car-front-fill"></i> Lịch trình tour</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-person-fill-add"></i> Chi tiết giá tour</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-check-square"></i> Giá tour bao gồm</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-bookmark-x"></i> Giá tour không bao gồm</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-person-arms-up"></i> Giá vé trẻ em</a>
                    <a href="" class="list-group-item fw-bold "><i class="bi bi-check-square"></i> Thông tin lưu ý</a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>




      <!-- end detail  -->



    <!-- form contact  -->
  
      <div class="container my-3 bg-body p-3  rounded-3">
        <div class="row " ></div>
        <p class="text-primary"><i class="bi bi-telephone-fill text-primary"></i> Vui lòng để lại số điện thọai, chúng tôi sẽ gọi điện tư vấn</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Nhập số điện thoại" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-primary px-auto" type="button" id="button-addon2">Gửi thông tin</button>
        </div>
      </div>
    

    <!-- end form contact  -->
   <!-- footer  -->
      <footer class="bg-body  m-0 p-0">
        <div class="container">
          <div class="row">

            <div class="col-md-4 col-sm-6 my-3 col-lg-3  ">
               <p class="fw-bold">  THÔNG TIN LIÊN HỆ</p>   
             
              CÔNG TY CỔ PHẦN DU LỊCH INTERTOUR VIỆT NAM <br>
              <i class="bi bi-geo-alt-fill text-success"></i> Trụ sở: 115 Nguyễn Thái Bình, phường Nguyễn Thái Bình, Quận 1, Tp.HCM.
             <br> 
             <i class="bi bi-geo-alt-fill text-success"></i> Chi Nhánh Miền Tây: 112B đường 3 Tháng 2, phường Hưng Lợi, Quận Ninh Kiều, Tp. Cần Thơ.
             <i class="bi bi-telephone-fill text-success"></i> Phone: (028) 3822 9999 <br>
             <i class="bi bi-phone-vibrate-fill text-success"></i> Fax: (028) 39142789 <br>
             <i class="bi bi-envelope-fill text-success"></i> Mail: welcome{{'@'}}intertour.com.vn <br>
            MS Doanh Nghiệp: 0305032648
            GPLHQT: 79-350/2018/TCDL - GP LHQT
            </div>
            
            <div class="col-md-4 col-sm-6 my-3 col-lg-3 ">
              <p class="fw-bold">  VÌ SAO CHỌN INTERTOUR
              </p>   
            <div class="row">
              <img src="https://intertour.vn/wp-content/uploads/2022/04/BO-TROPHIES-DOC.jpg" class="img-fluid" style="width: 250px;" alt="">
            </div>
           </div>
            
           <div class="col-md-4 col-sm-6 my-3 col-lg-3 ">
            <p class="fw-bold">  BẢN ĐỒ
            </p>   
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15673.108532428094!2d106.6401792!3d10.8665136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1710216675806!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <P>Chấp nhận thanh toán</P>
            <img src="https://intertour.vn/wp-content/uploads/2022/04/Payment-pic.jpg" alt="">
          </div>

          <div class="col-md-4 col-sm-6 my-3 col-lg-3 ">
            <div class="row">

              <p class="fw-bold"> ĐĂNG KÝ NHẬN ƯU ĐÃI
              </p>   
              <p>
                Bạn mình ơi, cứ hàng tháng thì Intertour đều có những chương trình ưu đãi về giá dịch vụ cũng như các quà tặng hấp dẫn nhằm tri ân khách hàng.
                 Để có thể cập nhật kịp thời những thông tin này, vui lòng nhập địa chỉ email của bạn vào ô dưới đây, 
                 để Intertour có thể gửi cho bạn những chương trình này nhé! Thân, ^_^
              </p>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-success" type="button" id="button-addon2"><i class="bi bi-send"></i></button>
              </div>
              <p>
                Website intertour.vn đã thông báo với Bộ Công Thương tại Cổng thông tin Quản lý hoạt động TMĐT
              </p>
              <img src="https://intertour.vn/wp-content/uploads/2022/03/dmca_protected_sml_120l.png" class="w-50" alt="">
              <img src="https://intertour.vn/wp-content/uploads/2022/03/dathongbao-510x193.png" class="w-50" alt="">
            </div>
         </div>
          </div>
        </div>


        <div class="col-md-12  text-center ">
          <p>FPT Polytechnic &copy; 2024. All right reserved.</p>
        </div>
      </footer>
   <!-- end footer  -->
  </body>
